<!-- <section class="hero">
  <div class="container">
    <div class="text-content">
      <h2><span class="thin">I am</span> Judith Lenz</h2>
      <h3 class="subtitle">FRONTEND DEVELOPER</h3>
      <a href="#contact" class="btn">Let’s talk!</a>
    </div>
    <div class="image-container">
      <img src="profile.png" alt="Dominik Roth" />
    </div>
  </div>
  <img src="bogen" alt="Bogen" class="bogen" />
</section>

<div>
  <div class="contact">
    
  </div>
</div>
 -->

<section>
  <div class="container">
    <div class="image-container">
      <img
        class="profile"
        src="../../../assets/image/profile.png"
        alt="Judith Lenz"
      />
      <img
        class="shadow"
        src="../../../assets/image/29. photo shadows.png"
        alt="shadow"
      />
    </div>
    <div class="text-content">
      <span class="thin">I am</span>
      <h2>Judith Lenz</h2>
      <h3 class="subtitle">FRONTEND DEVELOPER</h3>
      <a href="#contact" class="btn">Let’s talk!</a>
    </div>
  </div>
  <div class="contact">
    <a href="#"><img src="github-icon.svg" alt="GitHub" /></a>
    <a href="#"><img src="email-icon.svg" alt="E-Mail" /></a>
    <a href="#"><img src="linkedin-icon.svg" alt="LinkedIn" /></a>
    <p>E-Mail</p>
  </div>
  <div class="scroll-down">Scroll down ⬎</div>

  <img class="bogen" src="../../assets/image/28. Hero Background.png" alt="" />
</section>

<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-testimonials></app-testimonials>
<app-contact id="contact"></app-contact>
