<section>
  <div class="container">
    <div class="image-container">
      <img
        class="profile"
        src="../../../assets/image/profile.png"
        alt="Judith Lenz"
      />
      <img
        class="shadow"
        src="../../../assets/image/29. photo shadows.png"
        alt="shadow"
      />
    </div>

    <div class="text-container">
      <div class="text-content">
        <span class="vertical">I am</span>
        <div class="headline">
          <h2>Judith Lenz</h2>
          <h3 class="subtitle">FRONTEND DEVELOPER</h3>
        </div>
      </div>
      <a href="#contact" class="btn">Let’s talk!</a>
    </div>
  </div>

  <div class="contact">
    <div class="line"></div>
    <a href="https://github.com/" target="_blank"
      ><img src="../../../assets/image/github_default.svg" alt="GitHub"
    /></a>
    <a [attr.href]="'mailto:' + email">
      <img src="../../../assets/image/mail_default.svg" alt="E-Mail"
    /></a>
    <a href="https://de.linkedin.com/" target="_blank"
      ><img src="../../../assets/image/linkedin_default.svg" alt="LinkedIn"
    /></a>
    <a [attr.href]="'mailto:' + email">{{ email }}</a>
  </div>

  <div class="scroll-down">Scroll down &#10140;</div>

  <img class="bogen" src="../../assets/image/28. Hero Background.png" alt="" />
</section>

<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-testimonials></app-testimonials>
<app-contact id="contact"></app-contact>
