<section>
  <header>
    <div class="name">Jud<span class="i">i</span>t<span class="h">h</span></div>
    <div class="links-container">
      <div class="links">
        <a routerLink="" fragment="about" (click)="scrollToSection('about')"
          >About me</a
        >
        <a routerLink="" fragment="skills" (click)="scrollToSection('skills')"
          >Skills</a
        >
        <a
          routerLink=""
          fragment="portfolio"
          (click)="scrollToSection('portfolio')"
          >Portfolio</a
        >
      </div>
      <div class="language">
        <div
          [ngClass]="{ active: selectedLanguage === 'de' }"
          (click)="setLanguage('de')"
        >
          DE
        </div>
        <div
          [ngClass]="{ active: selectedLanguage === 'en' }"
          (click)="setLanguage('en')"
        >
          EN
        </div>
      </div>
    </div>
    <app-burger-menu class="burger"></app-burger-menu>
  </header>
</section>
