section {
  height: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width-border {
  border-top: solid;
  border-top-color: #70e61c;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
