<div class="full-width-border"></div>
<section>
  <div>
    <div>
      <div class="name">
        Jud<span class="i">i</span>t<span class="h">h</span>
      </div>
    </div>
    <div><a routerLink="/legal-notice">Legal-Notice</a></div>
  </div>
  <div>&copy; Judith Lenz 2025</div>
  <div class="socialButtons">
    <div>
      <img src="../../assets/image/github_default.svg" alt="githubIcon" />
    </div>
    <div><img src="../../assets/image/mail_default.svg" alt="mailIcon" /></div>
    <div>
      <img src="../../assets/image/linkedin_default.svg" alt="linkedinIcon" />
    </div>
  </div>
</section>
