<section
  *ngIf="currentReference"
  id="testimonials"
  class="aos-slide-left"
  data-aos="fade-left"
  data-aos-once="true"
>
  <div class="quotesection">
    <div class="portrait">
      <img [src]="currentReference.image" alt="portrait" />
      <div class="line"></div>
    </div>

    <div class="quote-wrapper">
      <img
        src="assets/image/quote_marks.svg"
        class="quote-icon"
        alt="Quote Icon"
      />

      <div class="quote-box">
        <p>{{ currentReference.text }}</p>

        <div class="line-name">
          <span class="line"></span>
          <span class="quote-author">{{ currentReference.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="arrow-container">
    <button (click)="previousReference()" class="arrow-btn">
      <img
        src="assets/image/arrow_back.svg"
        alt="Zurück"
        class="arrow-img flipped"
      />
    </button>
    <div class="dots">
      <span
        *ngFor="let ref of references; let i = index"
        [style.color]="i === currentIndex ? '#70e61c' : '#9747ff'"
        style="font-size: 2rem"
        class="dot"
      >
        •
      </span>
    </div>
    <button (click)="nextReference()" class="arrow-btn">
      <img
        src="assets/image/arrow_forward.svg"
        alt="Weiter"
        class="arrow-img"
      />
    </button>
  </div>

  <img
    class="shadow"
    src="assets/image/31. Green shadow Skills Portfolio.png"
    alt="shadow_about"
  />
</section>
