<section>
  <div class="quotesection">
    <div class="portrait">
      <img
        src="../../../assets/image/Screenshot Alessandro.jpg"
        alt="portrait"
      />
      <div class="line"></div>
    </div>
    <div class="quote-wrapper">
      <img
        src="../../../assets/image/quote_marks.svg"
        class="quote-icon"
        alt="Quote Icon"
      />

      <div class="quote-box">
        <p>Michael really kept the team together ...</p>
        <span class="quote-author">V. Schuster – Team Partner</span>
      </div>
    </div>
  </div>
  <div class="arrow-container">durchblättern unten mittig</div>

  <img
    class="shadow"
    src="assets/image/30. Purple shadow about me.png"
    alt="shadow_about"
  />
  <!-- <p>
  von M. Marrocu (Team Partner): Judith und ich haben während unserer
  Weiterbildung zum Frontend Developer gemeinsam an einem Kanban-Board-Projekt
  gearbeitet. Sie ist eine verlässliche und motivierte Teamplayerin, die mit
  kreativen Lösungen, Ehrgeiz und Zuverlässigkeit überzeugt. Ihre schnelle
  Auffassungsgabe und ihr offener Austausch haben die Zusammenarbeit super
  angenehm gemacht.
</p>
<p>
  von A. Argenziano (Projekt Partner): Judith arbeitet sehr strukturiert, denkt
  mit und erledigt ihre Aufgaben effizient. Die Zusammenarbeit mit ihr war nicht
  nur fachlich sehr angenehm, sondern auch menschlich eine Bereicherung für das
  Team. Sie ist sehr zuverlässig und engagiert.
</p> -->
</section>
