.name {
  font-size: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  .i {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #7c28bd 34%, white 11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .h {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, white 34%, #70e61c 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
