@use "./../../../styles.scss" as s;

.name {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  .i {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, s.$purple 28%, white 11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .h {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, white 34%, s.$green 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

:host(.footer-title) .name {
  font-size: 52px;
  line-height: 52px;
}
