<div class="project-item" [ngClass]="project.align">
  <div class="image">
    <img [src]="project.imageUrl" [alt]="project.title" />
  </div>

  <div class="text">
    <h3 class="title">{{ project.title }}</h3>

    <ul class="technologies">
      <p class="technologies">
        {{ project.technologies.join(" | ") }}
      </p>
    </ul>

    <p class="description">{{ project.description }}</p>

    <div class="buttons">
      <a
        [href]="project.liveUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-live"
      >
        {{ "portfolio.button.live" | translate }}</a
      >
      <a
        [href]="project.githubUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-github"
        >Github</a
      >
    </div>
  </div>
</div>
