<div class="project-item" [ngClass]="align">
  <div class="image">
    <img [src]="imageUrl" [alt]="title" />
  </div>

  <div class="text">
    <h3 class="title">{{ title }}</h3>

    <ul class="technologies">
      <li *ngFor="let tech of technologies">{{ tech }}</li>
    </ul>

    <p class="description">{{ description }}</p>

    <div class="buttons">
      <a [href]="liveUrl" target="_blank" rel="noopener noreferrer" class="btn"
        >Live</a
      >
      <a
        [href]="githubUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="btn"
        >Github</a
      >
    </div>
  </div>
</div>
