@use "./../../../styles.scss" as s;
@use "./../../../mixins.scss" as mix;

.project-item {
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
  padding: 65px;

  &.right {
    flex-direction: row-reverse;
    .text {
      text-align: right;
      align-items: flex-end;
    }
    .buttons {
      justify-content: flex-end;
    }
  }

  &.left {
    flex-direction: row;
    .text {
      text-align: left;
      align-items: flex-start;
    }
    .buttons {
      justify-content: flex-start;
    }
  }

  .image img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .text {
    flex: 1;

    .title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: s.$deep-purple;
    }

    .technologies {
      color: s.$green;
      font-weight: 400;
      font-size: 23px;
      margin-bottom: 1rem;

      li {
        padding: 4px 10px;
        border-radius: 4px;
        font-size: 0.9rem;
      }
    }

    .description {
      margin-top: 1rem;
      font-size: 16px;
    }

    .buttons {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      gap: 60px;

      a {
        padding: 14px 22px;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-size: 23px;
        &:hover {
          background-color: s.$green;
          cursor: pointer;
        }
      }
    }
  }

  .btn-live {
    background-color: s.$deep-purple;
  }

  .btn-github {
    border: 1px solid;
    border-color: s.$green;
  }
}

@media (max-width: 1280px) {
  .project-item {
    gap: 7rem;
    padding: 40px;
  }
}

@media (max-width: 1150px) {
  .project-item {
    gap: 4rem;
    padding: 25px;
  }
}

@media (max-width: 1100px) {
  .image img {
    max-width: 400px;
  }
}

@media (max-width: 1080px) {
  .project-item {
    gap: 4rem;
    padding: 0px;
  }
}

@media (max-width: 1000px) {
  .project-item {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .image {
    order: -1;
  }
  .image img {
    max-width: 500px;
  }

  .text {
    width: 100%;
    margin-bottom: 65px;

    .technologies,
    .title,
    .description {
      text-align: center;
    }

    .buttons {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

@media (max-width: 540px) {
  .project-item {
    .text {
      .buttons {
        gap: 15px;
      }
    }
  }
}
