.project-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;

  &.right {
    flex-direction: row-reverse;
  }

  &.left {
    flex-direction: row;
  }

  .image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
  }

  .text {
    flex: 1;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .technologies {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        background: #ffffff11;
        padding: 4px 10px;
        border-radius: 4px;
        font-size: 0.9rem;
      }
    }

    .description {
      margin-top: 1rem;
      font-size: 1rem;
    }

    .buttons {
      margin-top: 1rem;

      a {
        margin-right: 10px;
        padding: 8px 16px;
        background-color: #5e17eb;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;

        &:hover {
          background-color: #4c13c3;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column !important;
    text-align: center;

    .image {
      order: -1;
    }

    .buttons {
      justify-content: center;
    }
  }
}
