<div class="burger-container">
  <div class="burger-icon" [class.open]="menuOpen" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="menu" [class.open]="menuOpen">
    <ul>
      <li>
        <a
          (click)="closeMenu()"
          [routerLink]="['/']"
          fragment="about"
          (click)="forceScrollTo('about')"
          [routerLinkActive]="'activeLink'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "NAV.ABOUT" | translate }}</a
        >
      </li>
      <li>
        <a
          (click)="closeMenu()"
          [routerLink]="['/']"
          fragment="skills"
          (click)="forceScrollTo('skills')"
          [routerLinkActive]="'activeLink'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "NAV.SKILLS" | translate }}</a
        >
      </li>
      <li>
        <a
          (click)="closeMenu()"
          [routerLink]="['/']"
          fragment="portfolio"
          (click)="forceScrollTo('portfolio')"
          [routerLinkActive]="'activeLink'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "NAV.PORTFOLIO" | translate }}</a
        >
      </li>
      <li>
        <a
          (click)="closeMenu()"
          [routerLink]="['/']"
          fragment="contact"
          (click)="forceScrollTo('contact')"
          [routerLinkActive]="'activeLink'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "NAV.CONTACT" | translate }}</a
        >
      </li>
      <div>
        <div
          [class.active]="selectedLanguage === 'en'"
          (click)="changeLanguage('en')"
        >
          EN
        </div>
        <span>/</span>
        <div
          [class.active]="selectedLanguage === 'de'"
          (click)="changeLanguage('de')"
        >
          DE
        </div>
      </div>
    </ul>
  </nav>
</div>
