<section>
  <div class="skill_group">
    <div>
      <img src="assets/icon/html.svg" alt="" />
      <p>HTML</p>
    </div>
    <div><img src="assets/icon/css.svg" alt="" /> <span>CSS</span></div>
    <div>
      <img src="assets/icon/Javascript.svg" alt="" /> <span>JavaScript</span>
    </div>
    <div><img src="assets/icon/TS.svg" alt="" /> <span>TypeScript</span></div>
    <div><img src="assets/icon/Angular.svg" alt="" /> <span>Angular</span></div>
    <div>
      <img src="assets/icon/Firebase.svg" alt="" /> <span>Firebase</span>
    </div>
    <div><img src="assets/icon/git.svg" alt="" /> <span>Git</span></div>
    <div><img src="assets/icon/Api.svg" alt="" /> <span>Rest Api</span></div>
    <div><img src="assets/icon/scrum.svg" alt="" /> <span>Scrum</span></div>
    <div>
      <img src="assets/icon/MD.svg" alt="" /> <span>Material Design</span>
    </div>
    <div>
      <img src="assets/icon/CL.svg" alt="" />
      <span>Continually learning</span>
    </div>
  </div>
  <div class="text">
    <div class="headline">My skills</div>
    <p>
      Show that you have used a variety of front-end technologies in your
      projects.
    </p>
    <p>Looking for another skill?</p>
    <p>Reveal enthusiasm for learning new technologies and frameworks.</p>
  </div>
</section>
