@use "./../../../styles.scss" as s;
@use "./../../../mixins.scss" as mix;

section {
  border: 1px solid s.$green;
  @include mix.content-container;
  padding: 80px 0 80px 80px;
  display: grid;
  grid-template-areas:
    "skill_group headline_container"
    "skill_group variety"
    "skill_group looking"
    "skill_group enthusiasm"
    "skill_group btn";

  gap: 16px 80px;
}

.skill_group {
  padding-top: 30px;
  padding-bottom: 30px;
  grid-area: skill_group;
  width: 620px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  div {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
  }
}

.hover-lift {
  transition: transform 0.3s ease;
}

.skill_group div:hover {
  cursor: default;
}

.skill_group div:hover .hover-lift {
  transform: translateY(-10px);
}

.headline_container {
  position: relative;
  grid-area: headline_container;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  .line {
    position: absolute;
    background-color: s.$deep-purple;
    top: 50%;
    left: 90%;
    height: 4px;
    width: 100vw;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.padding {
  padding-right: 90px;
}

.variety {
  grid-area: variety;
  text-align: end;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.looking {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  grid-area: looking;
  text-align: end;
  font-size: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.enthusiasm {
  grid-area: enthusiasm;
  text-align: end;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.indented {
  padding-right: 90px;
}

.btn_container {
  padding-top: 20px;
  grid-area: btn;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 90px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 58px;
  background-color: s.$green;
  color: white;
  text-decoration: none;
  font-size: 23px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  transform-origin: top right;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: s.$deep-purple;
  }
}

@media (max-width: 1355px) {
  section {
    gap: 16px 60px;
  }
  .skill_group {
    padding-top: 30px;
    width: 490px;
    gap: 20px;
  }
  .looking {
    font-size: 24px;
  }
}

@media (max-width: 1100px) {
  section {
    padding: 80px 0 80px 40px;
  }
  .headline_container {
    .line {
      left: 85%;
    }
  }
}

@media (max-width: 1024px) {
  section {
    grid-template-areas:
      "headline_container"
      "variety"
      "skill_group"
      "looking"
      "enthusiasm"
      "btn";
    grid-template-columns: 1fr;
  }

  .headline_container {
    .line {
      left: 92%;
    }
  }

  .skill_group {
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
  }

  .btn_container {
    justify-self: center;
  }
}
