@use "./../../../styles.scss" as s;

section {
  padding: 80px 0 0 80px;
  height: 404px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill_group {
  gap: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 664px;

  div {
    height: 120px;
    width: 88px;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
  }
}

.text {
  width: 571px;
  text-align: end;
}
