<section>
  <div class="skill_group">
    <div class="layout-box">
      <img src="assets/icon/html.svg" alt="" class="hover-lift" />
      <span>HTML</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/css.svg" alt="" class="hover-lift" />
      <span>CSS</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/Javascript.svg" alt="" class="hover-lift" />
      <span>JavaScript</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/TS.svg" alt="" class="hover-lift" />
      <span>TypeScript</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/Angular.svg" alt="" class="hover-lift" />
      <span>Angular</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/Firebase.svg" alt="" class="hover-lift" />
      <span>Firebase</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/git.svg" alt="" class="hover-lift" />
      <span>Git</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/Api.svg" alt="" class="hover-lift" />
      <span>Rest Api</span>
    </div>
    <div class="layout-box">
      <img src="assets/icon/scrum.svg" alt="" class="hover-lift" />
      <span>Scrum</span>
    </div>

    <div class="layout-box">
      <img src="assets/icon/MD.svg" alt="" class="hover-lift" />
      <span
        >Material <br />
        Design</span
      >
    </div>
    <div class="ConLearn layout-box">
      <div class="tooltip-container">
        <img class="cl-img" src="assets/icon/CL_purple.svg" alt="" />
        <div class="tooltip-box">
          <div class="tooltip-content">
            <p>{{ "skills.icons.learningTooltip.intro" | translate }}</p>
            <div class="tooltip-labels">
              <img src="assets/icon/react.svg" alt="React" />
              <img src="assets/icon/vue.svg" alt="Vue" />
            </div>
            <div class="tooltip-labels">
              <span>React</span>
              <span>Vue Js</span>
            </div>
          </div>
        </div>
      </div>
      <span class="hover-highlight">
        {{ "skills.icons.learning" | translate }}</span
      >
    </div>
  </div>

  <div class="headline_container">
    <div class="padding headline">
      {{ "skills.title" | translate }}
    </div>
    <div class="line"></div>
  </div>

  <p class="variety indented">
    {{ "skills.intro" | translate }}
  </p>
  <p [innerHTML]="'skills.highlight' | translate" class="looking indented"></p>
  <p class="enthusiasm indented">
    {{ "skills.explanation" | translate }}
  </p>
  <div class="btn_container">
    <a [routerLink]="['/']" fragment="contact" class="btn">
      {{ "skills.button" | translate }}</a
    >
  </div>
  <img
    class="shadow"
    src="assets/image/31. Green shadow Skills Portfolio.png"
    alt="shadow_skill"
  />
</section>
