@use "./../../../styles.scss" as s;

section {
  padding: 80px 0 0 80px;
  height: 530px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "skill_group headline_container"
    "skill_group variety"
    "skill_group looking"
    "skill_group enthusiasm"
    "skill_group btn";

  gap: 10px 70px;
}

.skill_group {
  padding-top: 50px;
  grid-area: skill_group;
  width: 664px;
  height: 417px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  div {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
  }
}

.hover-lift {
  transition: transform 0.3s ease;
}

.skill_group div:hover {
  cursor: default;
}

.skill_group div:hover .hover-lift {
  transform: translateY(-10px);
}

.headline_container {
  grid-area: headline_container;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  .line {
    background-color: s.$deep-purple;
    // width: 100vw;
    height: 4px;
    border-width: 4px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    // transform: translateX(calc(-1 * (50vw - 720px)));
    // flex-shrink: 0;
  }
}

.variety {
  grid-area: variety;
  text-align: end;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.looking {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  grid-area: looking;
  text-align: end;
  font-size: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.enthusiasm {
  grid-area: enthusiasm;
  text-align: end;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.indented {
  padding-right: 90px;
}

.btn_container {
  grid-area: btn;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 90px;
}

.btn {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 58px;
  background-color: s.$green;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 23px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  transform-origin: top right;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: s.$deep-purple;
  }
}
