<section>
  <div class="skill_group">
    <div>
      <img src="assets/icon/html.svg" alt="" class="hover-lift" />
      <span>HTML</span>
    </div>
    <div>
      <img src="assets/icon/css.svg" alt="" class="hover-lift" />
      <span>CSS</span>
    </div>
    <div>
      <img src="assets/icon/Javascript.svg" alt="" class="hover-lift" />
      <span>JavaScript</span>
    </div>
    <div>
      <img src="assets/icon/TS.svg" alt="" class="hover-lift" />
      <span>TypeScript</span>
    </div>
    <div>
      <img src="assets/icon/Angular.svg" alt="" class="hover-lift" />
      <span>Angular</span>
    </div>
    <div>
      <img src="assets/icon/Firebase.svg" alt="" class="hover-lift" />
      <span>Firebase</span>
    </div>
    <div>
      <img src="assets/icon/git.svg" alt="" class="hover-lift" />
      <span>Git</span>
    </div>
    <div>
      <img src="assets/icon/Api.svg" alt="" class="hover-lift" />
      <span>Rest Api</span>
    </div>
    <div>
      <img src="assets/icon/scrum.svg" alt="" class="hover-lift" />
      <span>Scrum</span>
    </div>
    <div>
      <img src="assets/icon/MD.svg" alt="" class="hover-lift" />
      <span
        >Material <br />
        Design</span
      >
    </div>
    <div>
      <img src="assets/icon/CL_purple.svg" alt="" />
      <span style="color: #9747ff"
        >Continually <br />
        learning</span
      >
    </div>
  </div>

  <div class="headline_container">
    <div class="padding headline">My skills</div>
    <div class="line"></div>
  </div>

  <p class="variety indented">
    I built this portfolio page with Angular, using TypeScript and SCSS – and I
    really enjoyed working with it. Before that, I mainly created other projects
    with HTML, CSS and JavaScript. Angular is the technology I enjoy the most so
    far, and I’m excited to keep learning and improving.
  </p>
  <p class="looking indented">
    Looking for&nbsp;<span style="color: #9747ff">another skill</span>?
  </p>
  <p class="enthusiasm indented">
    My background in psychology and adult education helps me create
    user-centered applications and explain complex ideas clearly – both in code
    and UI. I'm currently deepening my Angular skills and plan to expand into
    backend development to become a fullstack developer.
  </p>
  <div class="btn_container">
    <a [routerLink]="['/']" fragment="contact" class="btn">Get in touch</a>
  </div>
</section>
