<section *ngIf="translation.getCurrentLanguage() === 'de'">
  <div id="generator_results">
    <div id="generator_results_content">
      <h1>Datenschutzhinweise</h1>
      <br />
      <h2>Verantwortlicher</h2>
      <br />
      <p>
        Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der
        EU-Datenschutz-Grundverordnung (DSGVO), ist:
      </p>
      <br />
      <p class="generator_user_input">Judith Lenz</p>
      <br />
      <h2>Ihre Betroffenenrechte</h2>
      <br />
      <p>
        Unter den angegebenen Kontaktdaten können Sie gemäß
        EU-Datenschutz-Grundverordnung (DSGVO) jederzeit folgende Rechte
        ausüben:
      </p>
      <ul>
        <li>
          Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung
          (Art. 15 DSGVO),
        </li>
        <li>
          Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),
        </li>
        <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
        <li>
          Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund
          gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),
        </li>
        <li>
          Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO)
          und
        </li>
        <li>
          Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt
          haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).
        </li>
      </ul>
      <p>
        Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese
        jederzeit mit Wirkung für die Zukunft widerrufen.
      </p>
      <p>
        Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde
        wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres
        Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige
        Behörde.
      </p>
      <p>
        Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit
        Anschrift finden Sie unter:
        <br />
        <a
          href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
          >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
        >.
      </p>
      <br />
      <h2>Verarbeitungstätigkeiten</h2>
      <br />
      <h3>Erfassung allgemeiner Informationen beim Besuch unserer Website</h3>
      <h4>Art und Zweck der Verarbeitung</h4>
      <p>
        Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht
        registrieren oder anderweitig Informationen übermitteln, werden
        automatisch Informationen allgemeiner Natur erfasst. Diese Informationen
        (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das
        verwendete Betriebssystem, den Domainnamen Ihres
        Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
      </p>
      <p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
      <ul>
        <li>
          zur technisch fehlerfreien Darstellung und Optimierung der Website
        </li>
      </ul>
      <p>
        Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu
        ziehen. Allerdings behalten wir uns vor, die Server-Logfiles
        nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine
        rechtswidrige Nutzung hinweisen.
      </p>
      <h4>Rechtsgrundlage und berechtigtes Interesse</h4>
      <p>
        Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis
        unseres berechtigten Interesses an der Verbesserung der Stabilität und
        Funktionalität unserer Website sowie der Sicherstellung der
        Systemsicherheit und Missbrauchserkennung.
      </p>
      <h4>Empfänger</h4>
      <p>
        Empfänger der Daten sind ggf. technische Dienstleister, die für den
        Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter tätig
        werden.
      </p>
      <h4>Speicherdauer</h4>
      <p>
        Daten werden in Server-Log-Dateien in einer Form, die die
        Identifizierung der betroffenen Personen ermöglicht, maximal für 30
        gespeichert; es sei denn, dass ein sicherheitsrelevantes Ereignis
        auftritt (z.B. ein DDoS-Angriff).
      </p>
      <p>
        Im Falle eines solchen Ereignisses werden Server-Log-Dateien bis zur
        Beseitigung und vollständigen Aufklärung des sicherheitsrelevanten
        Ereignisses gespeichert.
      </p>
      <h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
      <p>
        Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder
        gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse ist
        jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht
        gewährleistet. Zudem können einzelne Dienste und Services nicht
        verfügbar oder eingeschränkt sein.
      </p>
      <h4>Widerspruch</h4>
      <p>
        Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21
        DSGVO weiter unten.
      </p>
      <h3>Kontaktaufnahme</h3>
      <p>Art und Zweck der Verarbeitung</p>
      <p>
        Auf unserer Website ist ein Kontaktformular vorhanden, welches für die
        elektronische Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer
        diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben
        Daten an uns übermittelt und gespeichert.
      </p>
      <p>
        Zum Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten
        gespeichert:
      </p>
      <ul>
        <li>URL, von der die Anfrage erfolgte</li>
      </ul>
      <p>
        Eine Kontaktaufnahme ist über die bereitgestellten E-Mail-Adressen
        möglich. In diesem Fall werden die mit der E-Mail übermittelten
        personenbezogenen Daten des Nutzers gespeichert. Hierzu zählen Datum und
        Uhrzeit des E-Mailversands, E-Mailadresse, IP-Adressen sowie
        Informationen zu den an der E-Mail-Kommunikation beteiligten Servern.
      </p>
      <p>
        Sie können Sie über die bereitgestellten Telefonnummern Kontakt zu uns
        aufnehmen. Hierbei erheben wir Protokolldaten, die Ihre Telefonnummer
        und die Dauer des Gesprächs beinhalten.
      </p>
      <p>
        Unabhängig von der gewählten Kommunikationsart erheben wir den Inhalt
        Ihrer Anfrage. Ihre Daten werden zum Zweck der individuellen
        Kommunikation mit Ihnen gespeichert.
      </p>
      <h4>Rechtsgrundlage</h4>
      <p>
        Die Verarbeitung der Daten erfolgt auf der Grundlage eines berechtigten
        Interesses (Art. 6 Abs. 1 lit. f DSGVO).
      </p>
      <p>
        Unser berechtigtes Interesse an der Verarbeitung Ihrer Daten ist die
        Ermöglichung einer unkomplizierten Kontaktaufnahme.
      </p>
      <p>
        Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen,
        erfolgt die Verarbeitung der Daten zur Durchführung vorvertraglicher
        Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).
      </p>
      <h4>Empfänger</h4>
      <p>
        Empfänger der Daten sind ggf. technische Dienstleister, die für den
        Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter tätig
        werden.
      </p>
      <h4>Speicherdauer</h4>
      <p>
        Daten werden spätestens 12 Monate nach Bearbeitung der Kontaktaufnahme
        gelöscht.
      </p>
      <p>
        Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den
        gesetzlichen Aufbewahrungsfristen. Diese betragen grundsätzlich 6 oder
        10 Jahre aus Gründen der ordnungsmäßigen Buchführung und
        steuerrechtlichen Anforderungen.
      </p>
      <h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
      <p>
        Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir
        können Ihre Anfrage jedoch nur bearbeiten, sofern Sie uns die
        erforderlichen Daten und den Grund der Anfrage mitteilen.
      </p>
      <h4>Widerspruch</h4>
      <p>
        Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21
        DSGVO weiter unten.
      </p>
      <h3>Social Plugin (Shariff)</h3>
      <p>
        Auf unserer Website nutzen wir ein Social Plugin, um das Teilen bei den
        unten aufgeführten Social-Media-Angeboten bzw. Anbietern zu
        vereinfachen. Die Funktionalität können Sie daran erkennen, dass sie mit
        dem entsprechenden Logo gekennzeichnet ist.
      </p>
      <p>
        Standardmäßig sind diese Buttons deaktiviert und stellen somit keinen
        Kontakt mit den Servern des jeweiligen Anbieters her. Erst wenn der
        Websitebesucher die Buttons aktiviert und damit seine Zustimmung zur
        Kommunikation mit dem jeweiligen Anbieter erklärt, werden die Buttons
        aktiv und stellen die Verbindung her (jedoch nur für den jeweils
        ausgewählten Anbieter). Mit einem zweiten Klick kann der Websitebesucher
        dann seine Empfehlung an das Social-Media-Angebot übermitteln.
      </p>
      <p>
        Wir haben auf unserer Website die Social-Media-Buttons folgender
        Unternehmen eingebunden:
      </p>
      <ul>
        <li class="generator_user_input">
          Linkedin<br />
          Github
        </li>
      </ul>
      <br />
      <h3>Reichweitenmessung</h3>
      <br />
      <h4>Art und Zweck der Verarbeitung</h4>
      <p>
        Die Reichweitenmessung dient der Auswertung der Besucherströme unseres
        Onlineangebotes und kann Verhalten, Interessen oder demographische
        Informationen zu den Besuchern, wie z.B. das Alter oder das Geschlecht,
        als pseudonyme Werte umfassen. Mit Hilfe der Reichweitenanalyse können
        wir z.B. erkennen, zu welcher Zeit unser Onlineangebot oder dessen
        Funktionen oder Inhalte am häufigsten genutzt werden oder zur
        Wiederverwendung einladen. Ebenso können wir nachvollziehen, welche
        Bereiche der Anpassung bedürfen.
      </p>
      <p>
        Welche Tools wir zur Reichweitenmessung einsetzen, finden Sie weiter
        unten.
      </p>
      <h4>Rechtsgrundlage</h4>
      <p>
        Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis
        unseres berechtigten Interesses. Die Messung der Reichweite und die sich
        daraus ergebenden Informationen sind geeignet, um das Webangebot
        anzupassen.
      </p>
      <h4>Empfänger</h4>
      <p>
        Wir setzen für Betrieb und Wartung unserer Webseite technische
        Dienstleister ein, die als unsere Auftragsverarbeiter tätig werden.
      </p>
      <h4>Speicherdauer</h4>
      <p>
        Informationen zur Speicherdauer finden Sie in den unten aufgeführten
        Informationen zu den eingesetzten Tools.
      </p>
      <h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
      <p>
        Die Bereitstellung der Daten ist weder gesetzlich noch vertraglich
        vorgeschrieben.
      </p>
      <h4>Widerspruch</h4>
      <p>
        Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21
        DSGVO weiter unten.
      </p>
      <h4>Eingesetzte Tools zur Reichweitenmessung</h4>
      <br />
      <h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
      <br />
      <h3>Einzelfallbezogenes Widerspruchsrecht</h3>
      <p>
        Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
        Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender
        personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO
        (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt,
        Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung
        gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.
      </p>
      <p>
        Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht
        mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe
        für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und
        Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung,
        Ausübung oder Verteidigung von Rechtsansprüchen.
      </p>
      <h3>Empfänger eines Widerspruchs</h3>
      <p class="generator_user_input">
        Judith Lenz<br />
        Oskar-Schindler-Str. 82<br />
        86157 Augsburg
      </p>
      <br />
      <h2>Änderung unserer Datenschutzerklärung</h2>
      <br />
      <p>
        Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie
        stets den aktuellen rechtlichen Anforderungen entspricht oder um
        Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen,
        z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt
        dann die neue Datenschutzerklärung.
      </p>
      <br />
      <h2>Fragen zum Datenschutz</h2>
      <br />
      <p>
        Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine
        E-Mail an den oben genannten Verantwortlichen.
      </p>
      <br />
      <h2>Urheberrechtliche Hinweise</h2>
      <br />
      <p>
        <em
          >Diese Datenschutzerklärung wurde mit Hilfe der activeMind AG erstellt
          – den Experten für
          <a
            href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
            target="_blank"
            rel="noopener dofollow"
            >externe Datenschutzbeauftragte</a
          >
          (Version #2024-10-25).</em
        >
      </p>
    </div>
  </div>
</section>

<section *ngIf="translation.getCurrentLanguage() === 'en'">
  <div id="generator_results">
    <div id="generator_results_content">
      <h1>Privacy Notice</h1>
      <br />
      <h2>Data Controller</h2>
      <br />
      <p>
        The controller within the meaning of data protection laws, especially
        the EU General Data Protection Regulation (GDPR), is:
      </p>
      <br />
      <p class="generator_user_input">Judith Lenz</p>
      <br />
      <h2>Your Rights as a Data Subject</h2>
      <br />
      <p>
        You may exercise the following rights at any time using the contact
        details provided in this privacy policy:
      </p>
      <ul>
        <li>
          Access to the data stored about you and information about its
          processing (Art. 15 GDPR),
        </li>
        <li>Correction of inaccurate personal data (Art. 16 GDPR),</li>
        <li>Deletion of your stored data (Art. 17 GDPR),</li>
        <li>
          Restriction of data processing, if we are not yet allowed to delete
          your data due to legal obligations (Art. 18 GDPR),
        </li>
        <li>
          Objection to the processing of your data by us (Art. 21 GDPR), and
        </li>
        <li>
          Data portability, provided that you have consented to data processing
          or have concluded a contract with us (Art. 20 GDPR).
        </li>
      </ul>
      <p>
        If you have given us consent, you can revoke it at any time with effect
        for the future.
      </p>
      <p>
        You may also file a complaint with a supervisory authority at any time,
        e.g. the one in your place of residence or the authority responsible for
        us.
      </p>
      <p>
        A list of supervisory authorities (for the non-public sector) with
        contact details can be found here:
        <br />
        <a
          href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
        >
          https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html
        </a>
      </p>
      <br />
      <h2>Processing Activities</h2>
      <br />
      <h3>General Information Collected When Visiting Our Website</h3>
      <h4>Type and Purpose of Processing</h4>
      <p>
        When you access our website without registering or submitting
        information, general data is automatically collected. This data (server
        log files) includes your web browser type, operating system, domain name
        of your internet service provider, IP address, and similar.
      </p>
      <p>This data is processed for the following purposes:</p>
      <ul>
        <li>
          Ensuring the error-free technical presentation and optimization of the
          website
        </li>
      </ul>
      <p>
        We do not use this data to identify you personally. However, we reserve
        the right to review the server log files if there are concrete
        indications of unlawful use.
      </p>
      <h4>Legal Basis and Legitimate Interest</h4>
      <p>
        Processing is based on our legitimate interest in improving the
        stability and functionality of our website and ensuring system security
        and abuse detection (Art. 6(1)(f) GDPR).
      </p>
      <h4>Recipients</h4>
      <p>
        Recipients may include technical service providers acting as processors
        for the operation and maintenance of our website.
      </p>
      <h4>Storage Duration</h4>
      <p>
        Data in server log files is stored in a form that allows identification
        for a maximum of 30 days, unless a security-relevant event occurs (e.g.,
        a DDoS attack).
      </p>
      <p>
        In the event of such an incident, log files will be stored until the
        issue is resolved and fully clarified.
      </p>
      <h4>Provision Mandatory or Required</h4>
      <p>
        Providing the aforementioned personal data is neither legally nor
        contractually required. However, the service and functionality of our
        website cannot be guaranteed without the IP address. Additionally, some
        services may not be available or may be restricted.
      </p>
      <h4>Right to Object</h4>
      <p>
        Please read the information about your right to object according to Art.
        21 GDPR below.
      </p>
      <h3>Contact</h3>
      <p>Type and Purpose of Processing</p>
      <p>
        Our website provides a contact form for electronic communication. If a
        user uses this form, the entered data is transmitted and stored.
      </p>
      <p>The following data is also stored at the time of submission:</p>
      <ul>
        <li>URL from which the request was sent</li>
      </ul>
      <p>
        Contact via the provided email addresses is also possible. In this case,
        personal data transmitted with the email will be stored. This includes
        the sending date and time, email address, IP address, and server
        metadata.
      </p>
      <p>
        Phone contact is also possible. We log the phone number and duration of
        the conversation.
      </p>
      <p>
        Regardless of the communication channel, we record the content of your
        inquiry. Your data is stored for individual communication with you.
      </p>
      <h4>Legal Basis</h4>
      <p>
        Data processing is based on our legitimate interest in enabling easy
        contact with us (Art. 6(1)(f) GDPR).
      </p>
      <p>
        If contact is made to request an offer, the processing is carried out as
        part of pre-contractual measures (Art. 6(1)(b) GDPR).
      </p>
      <h4>Recipients</h4>
      <p>
        Recipients may include technical service providers acting as processors
        for the operation and maintenance of our website.
      </p>
      <h4>Storage Duration</h4>
      <p>
        Data is deleted at the latest 12 months after processing the inquiry.
      </p>
      <p>
        If a contractual relationship arises, we are subject to statutory
        retention periods (typically 6 or 10 years).
      </p>
      <h4>Provision Mandatory or Required</h4>
      <p>
        Providing your personal data is voluntary. However, we can only process
        your inquiry if you provide the necessary data and purpose.
      </p>
      <h4>Right to Object</h4>
      <p>
        Please read the information about your right to object according to Art.
        21 GDPR below.
      </p>
      <h3>Social Plugin (Shariff)</h3>
      <p>
        We use a social plugin to simplify sharing with the listed social media
        providers. These buttons are identified by the respective logo.
      </p>
      <p>
        By default, these buttons are deactivated and do not connect to the
        servers of the providers. Only after activation and user consent do they
        become active and establish a connection.
      </p>
      <p>We use social media buttons for the following platforms:</p>
      <ul>
        <li class="generator_user_input">
          LinkedIn<br />
          GitHub
        </li>
      </ul>
      <br />
      <h3>Reach Measurement</h3>
      <br />
      <h4>Type and Purpose of Processing</h4>
      <p>
        Reach measurement is used to evaluate traffic on our site. It may
        include behavior, interests, or demographic info like age or gender as
        pseudonymous values.
      </p>
      <p>
        This helps us understand when and how our services are used and which
        parts need improvement.
      </p>
      <p>Tools used for reach measurement are listed below.</p>
      <h4>Legal Basis</h4>
      <p>
        The processing is based on our legitimate interest in adapting our web
        offering (Art. 6(1)(f) GDPR).
      </p>
      <h4>Recipients</h4>
      <p>
        We use technical service providers as processors for operating and
        maintaining our website.
      </p>
      <h4>Storage Duration</h4>
      <p>
        Details about storage duration can be found in the sections on the
        respective tools.
      </p>
      <h4>Provision Mandatory or Required</h4>
      <p>Providing the data is not legally or contractually required.</p>
      <h4>Right to Object</h4>
      <p>
        Please read the information about your right to object according to Art.
        21 GDPR below.
      </p>
      <h4>Used Tools for Reach Measurement</h4>
      <br />
      <h2>Information About Your Right to Object (Art. 21 GDPR)</h2>
      <br />
      <h3>Right to Object in Individual Cases</h3>
      <p>
        You have the right to object at any time, for reasons arising from your
        particular situation, to the processing of personal data concerning you
        that is based on Art. 6(1)(f) GDPR.
      </p>
      <p>
        If you object, we will no longer process your personal data unless we
        can demonstrate compelling legitimate grounds for the processing or if
        the processing serves the establishment, exercise, or defense of legal
        claims.
      </p>
      <h3>Recipient of an Objection</h3>
      <p class="generator_user_input">
        Judith Lenz<br />
        Oskar-Schindler-Str. 82<br />
        86157 Augsburg
      </p>
      <br />
      <h2>Changes to Our Privacy Policy</h2>
      <br />
      <p>
        We reserve the right to adapt this privacy policy to always comply with
        current legal requirements or to reflect changes in our services. The
        new privacy policy will then apply to your next visit.
      </p>
      <br />
      <h2>Questions About Data Protection</h2>
      <br />
      <p>
        If you have any questions about data protection, please contact us via
        email using the contact details provided above.
      </p>
      <br />
      <h2>Copyright Notice</h2>
      <br />
      <p>
        <em>
          This privacy policy was created with the help of activeMind AG – the
          experts for
          <a
            href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
            target="_blank"
            rel="noopener dofollow"
            >external data protection officers</a
          >
          (Version #2024-10-25).
        </em>
      </p>
    </div>
  </div>
</section>
