<section class="fixed-header">
  <header class="header-container">
    <app-title></app-title>
    <div class="links-container">
      <div class="links">
        <a
          [routerLink]="['/']"
          fragment="about"
          (click)="onMenuClick('about')"
          [routerLinkActive]="'activeLink'"
          [class.activeLink]="activeSection === 'about'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "HEADER.ABOUT" | translate }}</a
        >
        <a
          [routerLink]="['/']"
          fragment="skills"
          (click)="onMenuClick('skills')"
          [routerLinkActive]="'activeLink'"
          [class.activeLink]="activeSection === 'skills'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "HEADER.SKILLS" | translate }}</a
        >
        <a
          [routerLink]="['/']"
          fragment="portfolio"
          (click)="onMenuClick('portfolio')"
          [routerLinkActive]="'activeLink'"
          [class.activeLink]="activeSection === 'portfolio'"
          [routerLinkActiveOptions]="{
            fragment: 'exact',
            paths: 'subset',
            matrixParams: 'ignored',
            queryParams: 'ignored'
          }"
          >{{ "HEADER.PORTFOLIO" | translate }}</a
        >
      </div>
      <div class="language">
        <div
          [ngClass]="{ active: selectedLanguage === 'de' }"
          (click)="setLanguage('de')"
        >
          DE
        </div>
        <div
          [ngClass]="{ active: selectedLanguage === 'en' }"
          (click)="setLanguage('en')"
        >
          EN
        </div>
      </div>
    </div>
    <app-burger-menu
      class="burger"
      [selectedLanguage]="selectedLanguage"
      (languageChanged)="setLanguage($event)"
    ></app-burger-menu>
  </header>
</section>
