<section class="aos-slide-right" data-aos="fade-right" data-aos-once="true">
  <div class="text">
    <div class="title headline">{{ "ABOUT.HEADLINE" | translate }}</div>
    <div class="about">
      {{ "ABOUT.INTRO" | translate }}
    </div>
    <div class="location flex-row">
      <div class="img-container">
        <img src="assets/image/loco.svg" alt="" />
      </div>

      <p>
        {{ "ABOUT.PARAGRAPH1" | translate }}
      </p>
    </div>
    <div class="mindset flex-row">
      <div class="img-container">
        <img src="assets/image/mind.svg" alt="" />
      </div>

      <p>
        {{ "ABOUT.PARAGRAPH2" | translate }}
      </p>
    </div>
    <div class="talents flex-row">
      <div class="img-container">
        <img src="assets/image/puzzle.svg" alt="" />
      </div>

      <p>
        {{ "ABOUT.PARAGRAPH3" | translate }}
      </p>
    </div>
  </div>
  <div class="portrait">
    <img src="assets/image/portrait1.png" alt="portrait" />
    <div class="line"></div>
  </div>
  <img
    class="shadow"
    src="assets/image/30. Purple shadow about me.png"
    alt="shadow_about"
  />
</section>
