<section>
  <div class="text">
    <div class="title headline">About me</div>
    <div class="about">
      I love problem-solving – it feels like solving an exciting puzzle. When
      everything finally works, it’s a great feeling. My goal is to work
      remotely and combine psychology with IT. Seeing others build projects from
      scratch inspires me to keep going and grow.
    </div>
    <div class="location flex-row">
      <div class="img-container">
        <img src="assets/image/loco.svg" alt="" />
      </div>

      <p>
        I live in Augsburg but am very open to new ways of working. Remote work
        excites me because it offers freedom and flexibility. In the long term,
        I’d love to work location-independently – maybe even abroad.
      </p>
    </div>
    <div class="mindset flex-row">
      <div class="img-container">
        <img src="assets/image/mind.svg" alt="" />
      </div>

      <p>
        I enjoy exploring new technologies – learning feels like a treasure
        hunt. I love understanding how things work and cherish every “aha”
        moment. The more I learn, the more curious I become.
      </p>
    </div>
    <div class="talents flex-row">
      <div class="img-container">
        <img src="assets/image/puzzle.svg" alt="" />
      </div>

      <p>
        I work in an analytical, structured, and creative way. I like thinking
        outside the box and staying persistent until I find a solution. For me,
        it’s not just about a solution – it has to truly make sense in the
        bigger picture.
      </p>
    </div>
  </div>
  <div class="portrait">
    <img src="assets/image/portrait1.png" alt="portrait" />
    <div class="line"></div>
  </div>
  <img
    class="shadow"
    src="assets/image/30. Purple shadow about me.png"
    alt="shadow_about"
  />
</section>
