<section>
  <div class="text">
    <div class="title headline">About me</div>
    <div class="about">
      Am meisten liebe ich das Tüfteln – ich kann stundenlang damit verbringen,
      einen Fehler zu finden oder ein Problem zu lösen. Es fühlt sich an wie ein
      spannendes Rätsel, das man Stück für Stück zusammensetzt. Und wenn dann
      plötzlich alles funktioniert, ist das ein richtig tolles Gefühl. Meine
      Motivation, mich immer weiter zu verbessern, ist der Wunsch,
      ortsunabhängig arbeiten zu können und mein psychologisches Wissen mit der
      IT zu verbinden. Ich finde es inspirierend zu sehen, wie andere Projekte
      von Grund auf entwickeln – das macht mir Mut, dranzubleiben und über mich
      hinauszuwachsen.
    </div>
    <div class="location flex-row">
      <div class="img-container">
        <img src="assets/image/loco.svg" alt="" />
      </div>

      <p>
        Ich lebe in Augsburg, aber ich bin sehr offen für neue Arbeitsmodelle.
        Remote-Arbeit finde ich besonders spannend, weil sie Freiheit und
        Flexibilität ermöglicht. Langfristig wünsche ich mir sogar,
        ortsunabhängig zu arbeiten – vielleicht auch einmal im Ausland.
      </p>
    </div>
    <div class="mindset flex-row">
      <div class="img-container">
        <img src="assets/image/mind.svg" alt="" />
      </div>

      <p>
        Ich liebe es, neue Technologien kennenzulernen und mich ständig
        weiterzuentwickeln. Für mich ist Lernen wie eine Schatzsuche – ich will
        verstehen, wie Dinge funktionieren, und freue mich über jeden
        Aha-Moment. Je mehr ich entdecke, desto neugieriger werde ich.
      </p>
    </div>
    <div class="talents flex-row">
      <div class="img-container">
        <img src="assets/image/puzzle.svg" alt="" />
      </div>

      <p>
        Ich arbeite gerne systematisch und analytisch, aber auch kreativ – ich
        probiere viel aus, denke um die Ecke und bleibe hartnäckig dran, bis ich
        eine Lösung finde. Ich sehe in jedem Problem eine Chance, etwas
        dazuzulernen. Besonders wichtig ist mir dabei: nicht einfach nur
        irgendeine Lösung zu finden, sondern eine, die wirklich Sinn ergibt und
        sich gut in den Gesamtzusammenhang einfügt.
      </p>
    </div>
  </div>
  <div class="portrait">
    <img src="assets/image/profile.png" alt="portrait" />
    <div class="line"></div>
  </div>
  <img
    class="shadow"
    src="assets/image/30. Purple shadow about me.png"
    alt="shadow_about"
  />
</section>
