@use "./../../../styles.scss" as s;
@use "./../../../mixins.scss" as mix;

section {
  @include mix.content-container;
  padding: 70px 185px 70px 80px;
  font-size: 16px;
  @include mix.flex(flex, center, space-between);
  border: 1px solid s.$green;
}

.text {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding-bottom: 40px;
}

.about {
  padding-bottom: 32px;
}

.portrait {
  @include mix.flex(flex, center, space-between);
  position: relative;
  img {
    width: 453px;
    height: 453px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid s.$green;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: s.$green;
    height: 4px;
    width: 100vw;
  }
}

.image-wrapper {
  margin-right: 30px;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;

  .img-container {
    padding: 20px;
    width: 40px;
    @include mix.flex(flex, flex-start, center);

    img {
      width: 100%;
      height: auto;
    }
  }
  p {
    margin: 0;
    flex: 1;
    text-align: left;
  }
}

.shadow {
  position: absolute;
  right: -520px;
  top: 16%;
  transform: translateY(-50%);
  width: 800px;
  height: auto;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 1355px) {
  .portrait {
    img {
      width: 300px;
      height: 300px;
    }
  }
  .text {
    width: 500px;
  }
  .flex-row {
    .img-container {
      padding: 9px;
      width: 30px;
    }
  }
}

@media (max-width: 1100px) {
  section {
    padding: 70px 80px 70px 40px;
  }
}

@media (max-width: 960px) {
  .portrait {
    display: none;
  }
  section {
    justify-content: center;
    padding: 70px 40px;
  }
}

@media (max-width: 480px) {
  .flex-row {
    gap: 6px;
    .img-container {
      padding: 2x;
      width: 20px;
    }
  }
  section {
    padding: 70px 20px;
  }
}
