@use "./../../../styles.scss" as s;
@use "./../../../mixins.scss" as mix;

section {
  @include mix.content-container;
  border: 1px solid s.$green;
  padding: 80px;
  .subtitle {
    @include mix.flex(flex, center, center);
    padding-top: 45px;
    font-size: 16px;
    text-align: center;
  }
}

.content {
  @include mix.flex(flex, start, center);
}

.headline-container {
  position: relative;
  display: flex;
  justify-content: center;
  .line {
    background-color: s.$deep-purple;
    height: 4px;
    border-width: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    top: 50%;
    right: 70%;
    width: 100vw;
  }
}

.info {
  width: 480px;
  .question {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .info-text {
    line-height: 120%;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .info-cta {
    font-size: 16px;
  }
}

a {
  all: unset;
  color: s.$deep-purple;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  margin-top: 2rem;
}

.input-wrapper {
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #0d0f20;
  color: white;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: border 0.3s ease;
  padding-right: 2.5rem;
}

textarea {
  min-height: 120px;
  resize: vertical;
}

input.valid,
textarea.valid {
  border-color: limegreen;
}

input.invalid,
textarea.invalid {
  border-color: red;
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;

  input[type="checkbox"] {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    accent-color: limegreen;
    width: 18px;
    height: 18px;
  }

  a {
    color: #b282ff;
    text-decoration: underline;
  }
}

label {
  span {
    font-size: 14px;
  }
}

button {
  all: unset;
}

button[type="submit"] {
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  transition: background-color 0.3s ease, transform 0.1s ease;
  color: white;
}

.btn-disabled {
  background-color: grey;
  cursor: pointer;
}

.btn-valid {
  background-color: limegreen;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 0.8rem;
  top: 0.75rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.valid-icon {
  color: limegreen;
}

.invalid-icon {
  color: red;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: block;
}

.back-to-top {
  position: absolute;
  background-color: #141d2f;
  right: 80px;
  bottom: 0;
  :hover {
    cursor: pointer;
  }
}
