<section>
  <div class="headline">{{ "contact.headline" | translate }}</div>
  <div class="content">
    <div class="info">
      <div>{{ "contact.intro.line1" | translate }}</div>
      <div>
        {{ "contact.intro.line2" | translate }}
      </div>
      <div>{{ "contact.intro.line3" | translate }}</div>
    </div>

    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="contact-form"
    >
      <!-- Name -->
      <div class="input-wrapper">
        <input
          type="text"
          formControlName="name"
          placeholder="{{ 'contact.form.name' | translate }}"
          id="name"
          (focus)="markAsTouched('name')"
          [ngClass]="{
            valid:
              contactForm.get('name')?.valid &&
              contactForm.get('name')?.touched,
            invalid:
              contactForm.get('name')?.invalid &&
              contactForm.get('name')?.touched
          }"
        />
        <!-- ✅ Häkchen -->
        <img
          src="assets/icon/check.svg"
          alt="valid"
          class="icon valid-icon"
          *ngIf="
            contactForm.get('name')?.valid && contactForm.get('name')?.touched
          "
        />

        <!-- ❗ Ausrufezeichen -->
        <img
          src="assets/icon/alert.svg"
          alt="invalid"
          class="icon invalid-icon"
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.dirty
          "
        />

        <!-- Fehlermeldung -->
        <small
          class="error-msg"
          *ngIf="
            contactForm.get('name')?.hasError('required') &&
            contactForm.get('name')?.dirty
          "
        >
          {{ "contact.form.error.nameRequired" | translate }}
        </small>
        <small
          class="error-msg"
          *ngIf="
            contactForm.get('name')?.hasError('minlength') &&
            contactForm.get('name')?.dirty
          "
        >
          {{ "contact.form.error.nameMinLength" | translate }}
        </small>
      </div>

      <!-- Email -->
      <div class="input-wrapper">
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="{{ 'contact.form.email' | translate }}"
          (focus)="markAsTouched('email')"
          [ngClass]="{
            valid:
              contactForm.get('email')?.valid &&
              contactForm.get('email')?.touched,
            invalid:
              contactForm.get('email')?.invalid &&
              contactForm.get('email')?.touched
          }"
        />

        <!-- ✅ Häkchen -->
        <img
          src="assets/icon/check.svg"
          alt="valid"
          class="icon valid-icon"
          *ngIf="
            contactForm.get('email')?.valid && contactForm.get('email')?.touched
          "
        />

        <!-- ❗ Ausrufezeichen -->
        <img
          src="assets/icon/alert.svg"
          alt="invalid"
          class="icon invalid-icon"
          *ngIf="
            contactForm.get('email')?.invalid && contactForm.get('email')?.dirty
          "
        />

        <!-- Fehlermeldungen -->
        <small
          class="error-msg"
          *ngIf="
            contactForm.get('email')?.hasError('required') &&
            contactForm.get('email')?.dirty
          "
        >
          {{ "contact.form.error.emailRequired" | translate }}
        </small>
        <small
          class="error-msg"
          *ngIf="
            contactForm.get('email')?.hasError('email') &&
            contactForm.get('email')?.dirty
          "
        >
          {{ "contact.form.error.emailInvalid" | translate }}
        </small>
      </div>

      <!-- Message -->
      <div class="input-wrapper">
        <textarea
          formControlName="message"
          id="message"
          placeholder="{{ 'contact.form.message' | translate }}"
          (focus)="markAsTouched('message')"
          [ngClass]="{
            valid:
              contactForm.get('message')?.valid &&
              contactForm.get('message')?.touched,
            invalid:
              contactForm.get('message')?.invalid &&
              contactForm.get('message')?.touched
          }"
        ></textarea>

        <!-- ✅ Häkchen -->
        <img
          src="assets/icon/check.svg"
          alt="valid"
          class="icon valid-icon"
          *ngIf="
            contactForm.get('message')?.valid &&
            contactForm.get('message')?.touched
          "
        />

        <!-- ❗ Ausrufezeichen -->
        <img
          src="assets/icon/alert.svg"
          alt="invalid"
          class="icon invalid-icon"
          *ngIf="
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.dirty
          "
        />

        <!-- Fehlermeldung -->
        <small
          class="error-msg"
          *ngIf="
            contactForm.get('message')?.hasError('required') &&
            contactForm.get('message')?.dirty
          "
        >
          {{ "contact.form.error.messageRequired" | translate }}
        </small>
      </div>

      <!-- Checkbox Privacy -->
      <div class="checkbox-wrapper">
        <label>
          <input
            type="checkbox"
            formControlName="privacy"
            id="privacy"
            (blur)="markAsTouched('privacy')"
          />
          <span>
            {{ "contact.form.privacy" | translate }}
            <a routerLink="/privacy-policy">{{
              "contact.form.privacyLink" | translate
            }}</a>
            {{ "contact.form.privacySuffix" | translate }}
          </span>
        </label>

        <!-- Fehlermeldung -->
        <small
          class="error-msg"
          *ngIf="
            contactForm.get('privacy')?.invalid &&
            (contactForm.get('privacy')?.touched ||
              contactForm.get('privacy')?.dirty)
          "
        >
          {{ "contact.form.error.privacyRequired" | translate }}
        </small>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [ngClass]="{
          'btn-valid': contactForm.valid,
          'btn-disabled': !contactForm.valid
        }"
      >
        {{ "contact.form.send" | translate }}
      </button>
    </form>
  </div>
</section>
