@use "./../../../styles.scss" as s;
@use "./../../../mixins.scss" as mix;

section {
  @include mix.content-container;
  flex: 1;
  min-height: calc(100vh - 110px);
  padding: 60px 80px;
  text-align: start;
  font-size: 24px;
  a {
    all: unset;
    color: s.$deep-purple;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  section {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 50px 30px;
    font-size: 12px;
  }
}
