<div class="burger-container">
  <div class="burger-icon" [class.open]="menuOpen" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="menu" [class.open]="menuOpen">
    <ul>
      <li>
        <a routerLink="/about" (click)="closeMenu()"
          >About me fjwiofjw oiefjowifj woeijfow ejfioew fjieow fjie f</a
        >
      </li>
      <li><a routerLink="/skills" (click)="closeMenu()">My skills</a></li>
      <li><a routerLink="/portfolio" (click)="closeMenu()">Portfolio</a></li>
      <li><a routerLink="/contact" (click)="closeMenu()">contact</a></li>
    </ul>
  </nav>
</div>
