<div class="burger-container">
  <div class="burger-icon" [class.open]="menuOpen" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="menu" [class.open]="menuOpen">
    <ul>
      <li><a (click)="closeMenuAndScroll('about')">About me</a></li>
      <li><a (click)="closeMenuAndScroll('skills')">My skills</a></li>
      <li><a (click)="closeMenuAndScroll('portfolio')">Portfolio</a></li>
      <li><a (click)="closeMenuAndScroll('contact')">Contact</a></li>
      <div>
        <div
          [class.active]="selectedLanguage === 'en'"
          (click)="changeLanguage('en')"
        >
          EN
        </div>
        <div>/</div>
        <div
          [class.active]="selectedLanguage === 'de'"
          (click)="changeLanguage('de')"
        >
          DE
        </div>
      </div>
    </ul>
  </nav>
</div>
