.full-width-border {
  border-top: solid;
  border-top-color: #70e61c;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section {
  padding: 40px 80px;
  height: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialButtons {
  width: 174px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 32px;
    transition: transform 0.2s ease-in-out;
    transform-origin: top left;
    &:hover {
      transform: scale(1.4);
      cursor: pointer;
    }
  }
}
