<div class="full-width-border"></div>
<section>
  <div class="content">
    <div>
      <app-title class="footer-title"></app-title>
    </div>
    <div>
      &copy; Judith Lenz <span>{{ currentYear }}</span>
    </div>
    <div class="socialButtons">
      <img src="../../assets/image/github_default.svg" alt="githubIcon" />

      <a (click)="sendMail()">
        <img src="../../assets/image/mail_default.svg" alt="mailIcon" />
      </a>

      <img src="../../assets/image/linkedin_default.svg" alt="linkedinIcon" />
    </div>
  </div>
  <div class="legal-notice">
    <a routerLink="/legal-notice">Legal-Notice</a>
  </div>
</section>
